<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Artur Rajski - Search engine</title>
  <meta name="description" content="Search engine">
  <meta name="author" content="Artur Rajski">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <div ng-app="searchEngine">
    <div id="container" ng-controller="searchCtrl">
      <header>
          <h2>Search Engine</h2>
          <div class="input-group">
                <input type="text" class="form-control input-lg" ng-model="searchQuery" placeholder="What would you like to search?" />
                <span class="input-group-btn">
                    <button class="btn btn-default btn-lg" ng-click="sendQuery()" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </form>
          </div>
      </header>
<hr/>
      <section id="results">
          <ul id="document-list">
            <li ng-repeat="doc in documents | orderBy:'-sim'">
              <div class="docpanel">
                <div class="docpanel-header">
                  {{doc.title}}
                </div>
                <div class="docpanel-subtitle">
                  <span class="glyphicon glyphicon-info-sign"></span><span class="desc">{{doc.sim}}</span>
                </div>
                <div class="docpanel-body">
                {{doc.description}}
                </div>
              </div>
            </li>
          </ul>
      </section>
    </div>
  </div>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>